courses.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="courses">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="course" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="title" type="xsd:string"/>
                            <xsd:element name="instructor" type="xsd:string"/>
                            <xsd:element name="price" type="xsd:int"/>
                            <xsd:element name="rating" type="xsd:int"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>